@import "tailwindcss";

@theme {
  --color-netflix-black: #141414;
  --color-netflix-red: #E50914;
  --font-sans: "Inter", "Roboto", sans-serif;
}

body {
  @apply bg-netflix-black text-white font-sans antialiased;
}

.scrollbar-hide::-webkit-scrollbar {
  display: none;
}

.scrollbar-hide {
  -ms-overflow-style: none;
  scrollbar-width: none;
}